* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}

body {
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  margin: 0;
}

.back-btn {
  position: absolute;
  top: 24px;
  left: 24px;

  padding: 8px 16px;
  border-radius: 8px;

  background-color: aquamarine;
  color: #000;
}
